<mat-card class="mt-2">
    <mat-card-content>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    The <a href="https://en.wikipedia.org/wiki/Rules_of_Acquisition">Rules of Acquisition</a>
                    are a collections of proverbs of the <b>utlra</b>-capatalist race know as the Frengi.
                    The Frengi are a race of humanoids who inhabit the Star Trek Galaxy.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <figure class="figure">
                    <img src="assets/Ferengis1.jpg" style="height: 80%; width: 80%">
                    <figcaption class="figure-caption">Typical Frengi</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    These rules are the capatalist law that defines the behavior of their civilization. All Frengi
                    are expected to follow them. Deviation is <b><i>unaccepatable.</i></b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    While the Frengi first appeared in Star Trek: The Next Generation, the rules themselves
                    did not appear until Star Trek: Deep Space Nine. Many episodes reference the rules; however,
                    the list remains incomplete, even with supplemental material provided by other sources.
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>