<div class="mt-2">
    <mat-card>
        <mat-card-title><label>Rule #{{rule.number === 0 ? '' : rule.number}}</label></mat-card-title>
        <mat-card-subtitle>Source: {{rule.source}}</mat-card-subtitle>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12">
                    <p>{{rule.rule}}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button [matTooltip]="favoriteTooltip" matTooltipPosition="right" (click)="onFavoriteClick()">
                <mat-icon [ngStyle]="favoriteStyle">{{favoriteIcon}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>